<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learningmachineparentsapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningMachineParentsAPP">
        <activity android:name=".Discover.Cart.CartActivity">
        </activity>
        <activity android:name=".Homepage.LeftActs.PasswordActivity" />
        <activity android:name=".Homepage.LeftActs.DeviceActivity" />
        <activity android:name=".Homepage.LeftActs.AccountActivity" />
        <activity android:name=".Homepage.LeftActs.PrivateActivity" />
        <activity android:name=".Homepage.LeftActs.HelpActivity" />
        <activity android:name=".Homepage.LeftActs.PurseActivity" />
        <activity android:name=".Homepage.LeftActs.PersonActivity" />
        <activity android:name=".Homepage.LeftActs.PublishActivity" />
        <activity android:name=".LoginRegist.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginRegist.RegisterActivity" />
        <activity android:name=".LoginRegist.RemeberActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".Homepage.Homework.HwcheckActivity" />
        <activity android:name=".Homepage.Homework.HomeworkActivity" />
        <activity android:name=".Homepage.Homework.RecordActivity" />
        <activity android:name=".Homepage.Videochat.VideochatActivity" />
        <activity android:name=".Homepage.Control.ControlActivity" />
        <activity android:name=".Homepage.Message.MessageActivity" />
        <activity android:name=".Homepage.Module.ModuleActivity" />
        <activity android:name=".Homepage.Watch.WatchActivity" />
        <activity android:name=".Circle.Video.VideoActivity" />
        <activity android:name=".Circle.Upload.UploadActivity" />
    </application>

</manifest>